<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59065181933-ujmokcdtt7fvadvgj9no2n5ndpij92lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59065181933-ujmokcdtt7fvadvgj9no2n5ndpij92lf</string>
	<key>API_KEY</key>
	<string>AIzaSyBZnRPcjyCWRI9C3E8pGR8Bh81h_W_k_IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>59065181933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pompouscatstudios.WickedTest</string>
	<key>PROJECT_ID</key>
	<string>wicked-test-22429</string>
	<key>STORAGE_BUCKET</key>
	<string>wicked-test-22429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59065181933:ios:5c661398b222b6eccd0ee4</string>
</dict>
</plist>